@import url('https://fonts.googleapis.com/css?family=Cabin');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Cabin', sans-serif;
}

body{
    background-color: #632432;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    width: 95%;
    height: 90%;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: white;
}

th, td{
    padding: 20px;
}

thead{
    color: white;
    background-color: #246355;
    border-bottom: 5px solid #0F362D;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

/* Borrar */

#borrar{
    display: none;
}

#bote{
    font-size: 35px;
    cursor: pointer;
    transition: .2s ease-in;
}

#bote:hover{
    transform: scale(1.2);
}