@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*font-family: 'Roboto Slab', serif;*/
*{
    box-sizing: border-box;    
    position: relative;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10 0;
    background-image: url('http://2.bp.blogspot.com/-Q-myO4ak5Y8/VpGUhGAQhuI/AAAAAAAAbPs/NzWS5bR48vE/s1600/1%2B%25283%2529.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

#bloque{
    width: 50%;
    height: 2100px;
    background-color: rgba(147, 118, 82, .8);
    border-radius: 30px;
    header{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 35px;
            text-align: center;
            color: #F0EAE3;
        }
    }
    .descripcion{
        width: 100%;
        height: 5%;
        text-align: center;
        article{
            margin: 5% 0;
            color: #F0EAE3;
            font-size: 20px;
        }
    }
    form{
        width: 100%;
        height: 85%;
        h2{
            text-align: center;
            margin: 3% 0;
            color: #F0EAE3;
        }
        h3{
            left: 5%;
            margin: 2% 0;
            color: #F0EAE3;
        }
        .inside{
            left: 5%;
            margin: 2% 0;
            input{
                text-align: center;
                background-color: #BDAC80;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid #6A4B2C;
                margin-left: 5px;
            }
        }
        #button{
            text-align: center;
            margin: 40px 0;
            input{
                width: 60px;
                height: 30px;
            }
        }
    }
}

#bloque2{
    width: 40%;
    height: 30%;
    background-color: rgba(147, 118, 82, .8);
    border-radius: 30px;
    padding: 10px;
    color: #CAB983;
    display: none;
    h1{
        font-size: 40px;
        text-align: center;
    }
    article{
        font-size: 20px;
        margin-top: 10%;
        text-align: center;
    }
}

