@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*font-family: 'Roboto Slab', serif;*/
*{
    box-sizing: border-box;    
    position: relative;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10 0;
    background-image: url('https://image.freepik.com/vector-gratis/fondo-patrones-formas-geometricas_1319-136.jpg');
    background-attachment: fixed;
}
form{
    width: 50%;
    height: 2200px;
    padding: 15 15;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    color: black;
    header{
        width: 100%;
        height: 40px;
        text-align: center;
    }
    section{
        margin: 5% 0;
        width: 100%;
        height: 60px;
        .text{
            width: 100%;
            margin: 10 0;
            border-top: none;
            border-left: none;
            border-right: none;
            background: none;
            border-bottom: 2px solid #333333;
        }
    }
    #job{
        width: 100%;
        height: 160px;
        text-align: center;
        .b1{
            width: 50%;
            height: 100%;
            float: left;
            input{
                width: 90%;
                margin: 10 0;
            }
        }
        .b2{
            width: 50%;
            height: 100%;
            float: left;
            input{
                width: 90%;
                margin: 10 0;
            }
        }
    }
    #ref{
        width: 100%;
        height: 170px;
        text-align: center;
        .sunombre{
            width: 33.33%;
            float: left;
            input{
                width: 90%;
            }
        }
        .numero{
            width: 33.33%;
            float: left;
            input{
                width: 90%;
            }
        }
        .ocupacion{
            width: 33.33%;
            float: left;
            input{
                width: 90%;
            }
        }
    }
    #files{
        width: 100%;
        height: 200px;
        text-align: center;
        h3{
            height: 20%;
        }
        .b1{
            width: 50%;
            height: 80%;
            float: left;
            h4{
                margin-top: 10%;
            }
            input{
                width: 90%;
                margin-top: 10%;
            }
        }
        .b2{
            width: 50%;
            height: 80%;
            float: left;
            h4{
                margin-top: 10%;
            }
            input{
                width: 90%;
                margin-top: 10%;
            }
        }
    }
    .send{
        width: 100%;
        height: 50px;
        text-align: center;
        #boton{
            width: 60px;
            height: 30px;
            margin-top: 6px;
            cursor: pointer;
        }
    }
}
#end{
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    display: none;
    h1{
        margin-top: 10%;
        font-size: 50px;
    }
    h2{
        margin-top: 10%;
    }
}